.topbar{
    .topbar-left{
        background-color: #FFF;
    }

    .logo{

        img{
            width: 70%;
        }

        .icon-c-logo img {
            width: 60%;
            margin: 0 auto;
        }
    }
}
