.topbar{
    .topbar-left{
        background-color: #FFF;
    }

    .logo{

        img{
            width: 70%;
        }

        .icon-c-logo img {
            width: 60%;
            margin: 0 auto;
        }
    }
}

#index-container{
    table{
        td > img{
            max-width: 50px;
            max-height: 50px;
        }
    }
}

.create-container{
    .droppable{
        background: @custom;
        color: #FFF;
        border-radius: 3px;
        padding: 6px 12px;
        outline: none;
        text-align: center;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.droppable-small{
            height: 50px;
        }

        input[type="file"]{
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
        }

        img{
            width: auto;
            height: 100%;
        }
    }
}

// Draw and X on certain text fields
.input-clear{
    
    display: flex;
    justify-content: space-between;
    input{
        width: 100%;
        border: none;
        padding: 0;
    }
    span{
        cursor:pointer;
        font-weight:bold;
        font-size: 20px;
        line-height: 20px;

        &.panel-title{
            line-height: inherit;
        }
    }
}

.form-inline{
    .input-clear{
        display: flex;
    }
}

.switchery{
    background-color:#fff;
    border:1px solid #dfdfdf;
    border-radius:20px;
    cursor:pointer;
    display:inline-block;
    height:30px;
    position:relative;
    vertical-align:middle;
    width:50px;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing:content-box;
    background-clip:content-box
}
.switchery > small{
    background:#fff;
    border-radius:100%;
    box-shadow:0 1px 3px rgba(0,0,0,0.4);
    height:30px;
    position:absolute;
    top:0;
    width:30px
}
.switchery-small{
    border-radius:20px;
    height:20px;
    width:33px
}
.switchery-small > small{
    height:20px;
    width:20px
}


.popover{
    max-width: none;
}