.topbar{
    .topbar-left{
        background-color: #FFF;
    }

    .logo{

        img{
            width: 70%;
        }

        .icon-c-logo img {
            width: 60%;
            margin: 0 auto;
        }
    }
}

.input-clear{
    
    display: flex;
    justify-content: space-between;
    input{
        width: 100%;
        border: none;
        padding: 0;
    }
    span{
        cursor:pointer;
        font-weight:bold;
        font-size: 20px;
        line-height: 20px;
    }
}

.form-inline{
    .input-clear{
        display: flex;
    }
}



